input[type=text]{
    padding: 10px;
    margin:10px 0px;
    border-radius: 10px;
    width: 100%;
    color: royalblue;
    font-size: 30px;
}
button{
    border-radius: 10px;
    padding: 0.25em 0.75em;
    min-width: 10ch;
    min-height: 45px;
    text-align:center;
    line-height: 1.1;
    font-size: 1.15rem;
    background-color: rgb(91, 0, 0);
    color: white;
    cursor: pointer;
    outline: royalblue;
    
}

h3{
    font-size: 40px;
    color: #fada2e;
}

footer{
    color: white;
}
span{
    color: rgb(141, 12, 12);
}